#root {
  max-width: 1280px;
  text-align: center;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 119, 182, 0.3) #f2f2f2;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 119, 182, 0.3);
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}
