@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --palette-color-1: rgb(0, 0, 0);
  --palette-color-2: rgba(0, 0, 0, 0);
  --palette-color-3: rgb(12, 91, 133);
  --palette-color-4: rgb(255, 255, 255);
  --palette-color-5: rgb(242, 242, 247);
  --palette-color-6: rgb(100, 233, 134);
  --palette-color-7: rgb(102, 102, 102);
  --palette-color-8: rgb(103, 105, 106);
  --palette-color-9: rgb(0, 0, 238);
  --palette-color-10: rgb(0, 17, 34);
  --palette-color-11: rgb(136, 136, 136);
  --palette-color-12: rgb(34, 34, 34);
  --palette-color-13: rgb(51, 51, 51);
  --palette-color-14: rgba(255, 255, 255, 0.6);
  --palette-color-15: rgba(255, 255, 255, 0.25);
  --palette-color-16: rgba(0, 0, 0, 0.5);
  --palette-color-17: rgba(29, 103, 141, 0.33);
  --palette-color-18: rgba(51, 51, 51, 0.2);
  --palette-color-19: rgb(29, 103, 141);
  --palette-color-20: rgb(0, 87, 184);
  --palette-color-21: rgb(242, 242, 242);
  --palette-color-22: rgb(17, 17, 17);
  --palette-color-23: rgb(0, 128, 0);
  --palette-color-24: rgb(255, 0, 0);
  --palette-color-25: rgb(12, 91, 132);
  --palette-color-26: rgb(247, 247, 247);
  --palette-color-27: rgba(0, 0, 0, 0.05);
  --palette-color-28: rgb(230, 230, 230);

  --palette-font-1: Times New Roman;
  --palette-font-2: Albert Sans;
  --palette-font-3: Albert Sans Placeholder;
  --palette-font-4: Inter;
  --palette-font-5: Inter Placeholder;
  --palette-font-6: Antic Slab;
  --palette-font-7: Antic Slab Placeholder;
  --palette-font-8: Manrope;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-weight: 400;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.signiture {
  font-family: "Dancing Script", cursive;
}

.map-container {
  height: 100%;
  width: 100%;
}
