/* Payment.css */

body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.form-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

/* Animation classes */
.slide-left {
  animation: slideLeft 0.5s forwards;
}

.slide-right {
  animation: slideRight 0.5s forwards;
}

@keyframes slideLeft {
  100% {
    opacity: 0;
  }
}

@keyframes slideRight {
  100% {
    opacity: 1;
  }
}

/* Navigation buttons */
.navigation {
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
}

button {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
}

button.prev {
  background-color: #6c757d;
}

button.next {
  background-color: #000000;
  padding: 10px;
}

button svg {
  margin: 0 5px;
}

/* Stylesheet for CustomerInfoForm */
label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.error {
  border-color: #e74c3c;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
 

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
